﻿<%@ Page Title="Export" Language="C#" MasterPageFile="~/Popup.Master"  AutoEventWireup="true" CodeBehind="ExportPage.aspx.cs" Inherits="WorkLinks.Export.ExportPage" %>
<%@ Register Src="ExportControl.ascx" TagName="ExportControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:ExportControl ID="ExportControl1" runat="server" />
</asp:Content>