﻿<%@ Page Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="AddEmployeeToROE.aspx.cs" Inherits="WorkLinks.Payroll.RoeCreation.AddEmployeeToROE" %>
<%@ Register src="../../Payroll/PayrollBatch/EmployeeControl.ascx" TagName="EmployeeControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <ContentTemplate> 
        <uc1:EmployeeControl ID="EmployeeControl1" runat="server" />
    </ContentTemplate>
</asp:Content>