﻿<%@ Page Language="C#"  MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="RoeCreationDetails.aspx.cs" Inherits="WorkLinks.Payroll.RoeCreation.RoeCreationDetails" %>
<%@ Register src="EmployeeRoeCreationPageControl.ascx" tagname="EmployeeRoeCreationPageControl" tagprefix="uc1" %>
<asp:Content ID="Content1" runat="server" 
    contentplaceholderid="ContentPlaceHolder1">
    <uc1:EmployeeRoeCreationPageControl ID="EmployeeRoeCreationPageControl1" 
        runat="server" />
</asp:Content>