﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="RoeCreationSearchPage.aspx.cs" Inherits="WorkLinks.Payroll.RoeCreation.RoeCreationSearchPage" %>
<%@ Register src="RoeCreationSearchControl.ascx" tagname="RoeCreationSearchControl" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <ContentTemplate> 
        <uc1:RoeCreationSearchControl ID="RoeCreationSearchControl1" runat="server" />
    </ContentTemplate>
</asp:Content>