﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeBehind="LandingPage.aspx.cs" Inherits="WorkLinks.Web.WorkLinks.HumanResources._LandingPage" ResourceName="LandingPage" %>

<%@ Register Src="LandingControl.ascx" TagName="LandingControl" TagPrefix="uc1" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>

<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <uc1:LandingControl ID="LandingControl1" runat="server" />
</asp:Content>