﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="PaycodeAssociationPage.aspx.cs" Inherits="WorkLinks.Admin.PaycodeAssociationAdmin.PaycodeAssociationPage" ResourceName="PaycodeAssociation" %>
<%@ Register Src="PaycodeAssociationControl.ascx" TagName="PaycodeAssociationControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:PaycodeAssociationControl ID="PaycodeAssociationControl1" runat="server" />
</asp:Content>