﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="R1ExportPage.aspx.cs" Inherits="WorkLinks.Admin.R1Export.R1ExportPage" %>
<%@ Register src="R1ExportControl.ascx" tagname="R1ExportControl" tagprefix="uc1" %>

<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:R1ExportControl ID="R1ExportControl1" runat="server" />
</asp:Content>
