﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="LanguageEditorPage.aspx.cs" Inherits="WorkLinks.Admin.LanguageEditor.LanguageEditorPage" %>
<%@ Register Src="LanguageEditorControl.ascx" TagName="LanguageEditorControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:LanguageEditorControl ID="LanguageEditorControl1" runat="server" />
</asp:Content>