﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="ExportPage.aspx.cs" Inherits="WorkLinks.Admin.Export.ExportPage" %>
<%@ Register src="ExportControl.ascx" tagname="ExportControl" tagprefix="uc1" %>

<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:ExportControl ID="ExportControl1" runat="server" />
</asp:Content>
