﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="AttritionReportPage.aspx.cs" Inherits="WorkLinks.Report.AttritionReportPage" %>
<%@ Register Src="AttritionReportControl.ascx" TagName="AttritionReportControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <ContentTemplate>
        <uc1:AttritionReportControl ID="AttritionReportControl1" SearchLocation="Report" runat="server" />        
    </ContentTemplate>
</asp:Content>