﻿<%@ Page Title="Report" Language="C#" MasterPageFile="Report.Master" AutoEventWireup="true" CodeBehind="ReportPage.aspx.cs" Inherits="WorkLinks.Report.ReportPage" %>
<%@ Register Src="ReportControl.ascx" TagName="ReportControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:ReportControl ID="ReportControl1" runat="server" />
</asp:Content>