﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Report.master.cs" Inherits="WorkLinks.Report.Report" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
    <script type="text/javascript">
        function openWindowWithManager(managerName, url) {
            //build url
            var manager = $find(managerName);
            manager.open(getUrl(url), null);
        }
        function getUrl(url)
        {
            var baseDirectory = '<%= Page.Request.ApplicationPath %>';
            if (baseDirectory != '/')
                url = baseDirectory + '/' + url;
            return url;
        }
    </script>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>