﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="PayrollProcessPage.aspx.cs" Inherits="WorkLinks.Payroll.PayrollProcess.PayrollProcessPage" %>
<%@ Register src="PayrollProcessControl.ascx" tagname="PayrollProcessControl" tagprefix="uc1" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <uc1:PayrollProcessControl ID="PayrollProcessControl1" runat="server" />
</asp:Content>

