﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="PayrollProcessingPage.aspx.cs" Inherits="WorkLinks.Payroll.PayrollProcess.PayrollProcessingPage" %>
<%@ Register src="PayrollProcessingControl.ascx" tagname="PayrollProcessingControl" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:PayrollProcessingControl ID="PayrollProcessingControl1" runat="server" />
</asp:Content>
