﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="RevenueQuebecBusinessPage.aspx.cs" Inherits="WorkLinks.Admin.RevenueQuebecBusinessAdmin.RevenueQuebecBusinessPage" ResourceName="RevenueQuebecBusinessPage" %>
<%@ Register Src="RevenueQuebecBusinessControl.ascx" TagName="RevenueQuebecBusinessControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:RevenueQuebecBusinessControl ID="RevenueQuebecBusinessControl2" runat="server" />
</asp:Content>
