﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="PaycodeIncomePage.aspx.cs" Inherits="WorkLinks.Admin.PaycodeMaintenance.Income.PaycodeIncomePage" ResourceName="PaycodeIncome" %>
<%@ Register Src="PaycodeIncomeControl.ascx" TagName="PaycodeIncomeControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:PaycodeIncomeControl ID="PaycodeIncomeControl1" runat="server" />
</asp:Content>