﻿<%@ Page Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="EmployeeEducationModulePage.aspx.cs" Inherits="WorkLinks.Web.WorkLinks.HumanResources.Employee.Education.EmployeeEducationModulePage" ResourceName="Title" %>
<%@ Register Src="EmployeeEducationModuleControl.ascx" TagName="EmployeeEducationModuleControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:EmployeeEducationModuleControl ID="EmployeeEducationModuleControl1" runat="server" />
</asp:Content>