﻿/* DEFAULTS
----------------------------------------------------------*/

.RadInput[disabled],
input[disabled],
input[readOnly],
select[disabled],
select[readonly],
checkbox[disabled],
checkbox[readonly],
textarea[disabled],
textarea[readonly] {
}

.RadSiteMap .rsmFlow {
    font-size: 12px !important;
    line-height: 24px !important;
    padding-bottom: 5px !important;
}

.RadSiteMap .rsmLink {
    padding: 2px 5px !important;
}

.RadWindow_Silk .rwTable .rwTitlebarControls em {
    font-size: 14px !important;
}

.RadTabStrip_Silk .rtsLevel1 .rtsSelected,
.RadTabStrip_Silk .rtsLevel1 .rtsSelected:hover {
    background: #2DABC1 !important;
    background-image: none !important;
    color: #FFF !important;
}

.RadTabStripVertical {
    height: 99vh;
}
    
.RadTabStripVertical .rtsLink {
    text-align: left !important;
}

.RadGrid_Silk .rgHeader {
    font-size: 11px !important;
}

.RadPicker {
    display: inline-table;
}

.RadInput {
    padding: 0 !important;
}

.RadTabStrip_Silk .rtsLevel1 {
    font-size: inherit !important;
}

.RadToolBarDropDown .rtbText {
    white-space: nowrap !important;
}

.SelectedStyle {
    background-color: Green !important;
}

.styleCompany {
    color: #EEA53C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.styleLogin {
    color: #FF6600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.styleLanguage {
    margin-right: 8px;
}

.styleLogout {
    margin-right: 18px;
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

body {
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif !important;
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    color: #034af3;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #034af3;
}

p {
    line-height: 1.6em;
    margin-bottom: 10px;
}

hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid #C9C9C9;
}

/* HEADINGS
----------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #666;
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 0;
    text-transform: none;
}

h1 {
    font-size: 1.6em;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5,
h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/

.page {
    background-color: #FFF;
    margin: 10px auto;
    width: 99%;
}

.popupPage {
    background-color: #FFF;
    margin: 0 auto;
}

.main {
    margin: 0 20px 20px 20px;
}

.mainPasswordChange {
    padding: 0 12px;
    width: 460px;
}

.leftNavigation {
    width: 100px !important;
}

.mainContent {
    height: 520px !important;
}

.leftCol {
    padding: 6px 0;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer {
    color: #4e5766;
    padding: 8px 0 0 0;
    margin: 0 auto;
    text-align: center;
    line-height: normal;
}

/* TAB MENU
----------------------------------------------------------*/

div.hideSkiplink {
    width: 100%;
    height: 62px;
}

.mainmenu {
    padding: 0 12px;
    margin: 0 8px;
}

div.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 70px;
}

div.menu ul li a,
div.menu ul li a:visited {
    background-color: #0E5091;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    width: 54px;
}

div.menu ul li a:hover {
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active {
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS
----------------------------------------------------------*/

div.form_control {
    clear: both;
    width: 400px;
}

div.form_control span.label {
    color: Gray;
    direction: ltr;
    float: left;
    font-weight: normal;
    line-height: normal;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 138px;
}

div.form_control span.label:hover {
    overflow: visible;
    width: 160px;
    margin-left: -22px;
}

div.form_control span.label_mandatory {
    color: Gray;
    float: left;
    font-weight: normal;
    margin-left: 7px;
    line-height: normal;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 138px;
}

div.form_control span.label_mandatory:hover {
    overflow: visible;
    width: 160px;
    margin-left: -15px;
}

div.form_control span.field_mandatory:before {
    color: Red;
    content: '*';
    font-weight: normal;
    margin-left: -7px;
}

/* start all field attributes */
div .form_control span.field {
    font-weight: normal;
    margin-left: 15px;
    width: 138px;
}

div.form_control span.field_mandatory {
    font-weight: normal !important;
    margin-left: 10px;
    text-align: left;
    width: 50px;
}

div.form_control span.radio_field {
    float: left;
    width: 244px;
    text-align: left;
}

div.form_control span.radio_field_mandatory {
    float: left;
    width: 244px;
    text-align: left;
}

.riTextBox {
    color: #000 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
    height: 22px !important;
    letter-spacing: 0 !important;
    line-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.rcbInput {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
}

TextArea:not(#ProcessReportMessageTextBox) {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
    width: 205px !important;
}

/* end all field attributes */
div.form_control span.form_exception {
    color: Red;
}

.AlignRight {
    text-align: right;
}

.simpleTable {
    padding: 1em 0 0;
}

fieldset {
    padding: 1em;
    border: 0 none;
}

fieldset p {
    margin: 2px 12px 10px 10px;
}

fieldset.login label,
fieldset.register label {
    display: block;
}

fieldset label.inline {
    display: inline;
}

legend {
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry {
    width: 320px;
    border: 1px solid #CCC;
}

input.passwordEntry {
    width: 320px;
    border: 1px solid #CCC;
}

input.passwordEntryPasswordChange {
    width: 250px;
    border: 1px solid #CCC;
}

div.accountInfo {
    width: 42%;
}

div.accountInfoPasswordChange {
    width: 100%;
}

/* MISC
----------------------------------------------------------*/

.clear {
    clear: both;
}

.title {
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 18px;
}

.loginDisplay a:link {
    color: blue;
}

.loginDisplay a:visited {
    color: blue;
}

.loginDisplay a:hover {
    color: blue;
}

.failureNotification {
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size: 1em;
    color: Red;
}

.bold {
    font-weight: bold;
}

.submitButton {
    text-align: right;
    padding-right: 10px;
}

.header {
    background: #FFF url('CompanyLogo1.jpg') no-repeat left;
    color: #000;
    height: 80px;
    margin-bottom: 0;
    padding: 0;
    position: relative;
}

.headerPasswordChange {
    background-color: #FFF;
    color: #000;
    margin-bottom: 0;
    padding: 0;
    position: relative;
}

.display-label,
.editor-label,
.display-field,
.editor-field {
    margin: 0.5em 0;
}

.employee-search-export-combo {
    float: right;
    padding-left: 5px;
}

/* formview */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*
li.left {
    float: left;
    width: 50%;
    font-weight: bold;
    margin: 0 0 10px 0;
}

li.right {
    float: right;
    width: 50%;
    padding: 0;
    margin: 0 0 10px 0;
}
*/

.leftColumn {
    width: 300px;
}

.rightColumn {
    width: 300px;
}

.button:hover {
    font-style: italic;
}

.SearchCriteriaButtons {
    clear: both;
}

::selection {
    background: #EEA53C;
    color: #FFF;
}

::-moz-selection {
    background: #EEA53C;
    color: #FFF;
}

.img-circle {
    border-radius: 50%;
}

/* Widgets */

.widget {
    border: 1px solid #C9C9C9;
    margin: 5px;
}

.widgetHeader,
.widgetContent {
    padding: 10px;
}

.widgetContent {
    height: 320px;
}
   
.widgetHeader {
    background-color: #E3E3E3;
    background-image: linear-gradient(#FEFEFE, #E3E3E3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#E3E3E3',GradientType=0);
    color: #767676;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 25px;
    display: block;
    border-bottom: 1px solid #C9C9C9;
}

.welcome {
    font-size: 24px;
    margin: 0 0 10px 5px;
    display: block;
    color: #2DABC1;
    font-family: Arial, Helvetica, sans-serif;
}

.profileHeader {
    color: #878787;
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px 0;
}