﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="FieldSecurityPage.aspx.cs" Inherits="WorkLinks.Admin.FieldSecurity.FieldSecurityPage" ResourceName="FieldSecurityPage" %>
<%@ Register Src="FieldSecurityControl.ascx" TagName="FieldSecurityControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:FieldSecurityControl ID="FieldSecurityControl1" runat="server" />
</asp:Content>