﻿<%@ Page Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" 
    CodeBehind="EmployeeBankingPage.aspx.cs" Inherits="WorkLinks.Payroll.Banking.EmployeeBankingPage" ResourceName="Title" %>
<%@ Register src="EmployeeBankingInformation.ascx" tagname="EmployeeBankingInformationControl" tagprefix="uc1" %>
<asp:Content ID="Content1" runat="server" 
    contentplaceholderid="ContentPlaceHolder1">
    <uc1:EmployeeBankingInformationControl ID="EmployeeBankingInformationControl1"
        runat="server" />
</asp:Content>