﻿<%@ Page Language="C#"  MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="EmailPage.aspx.cs" Inherits="WorkLinks.Admin.Email.EmailPage" %>
<%@ Register Src="EmailControl.ascx" TagName="EmailControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:EmailControl ID="EmailControl1" runat="server" />
</asp:Content>