﻿<%@ Page Title="Benefit" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="EmployeeBenefitModulePage.aspx.cs" Inherits="WorkLinks.HumanResources.Employee.Benefit.EmployeeBenefitModulePage" %>
<%@ Register Src="EmployeeBenefitModuleControl.ascx" TagName="EmployeeBenefitModuleControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:EmployeeBenefitModuleControl ID="EmployeeBenefitModuleControl1" runat="server" />
</asp:Content>
