﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="HealthTaxPage.aspx.cs" Inherits="WorkLinks.Admin.HealthTax.HealthTaxPage" %>
<%@ Register Src="HealthTaxControl.ascx" TagName="HealthTaxControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:HealthTaxControl ID="HealthTaxControl1" runat="server" />
</asp:Content>