﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="HealthTaxEditPage.aspx.cs" Inherits="WorkLinks.Admin.HealthTax.HealthTaxEditPage" %>
<%@ Register Src="HealthTaxEditControl.ascx" TagName="HealthTaxEditControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:HealthTaxEditControl ID="HealthTaxEditControl1" runat="server" />
</asp:Content>