﻿<%@ Page Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="RoleEditorPage.aspx.cs" Inherits="WorkLinks.Admin.RoleEditor.RoleEditorPage" %>
<%@ Register Src="RoleEditorControl.ascx" TagName="RoleEditorControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:RoleEditorControl ID="RoleEditorControl1" runat="server" />
</asp:Content>