﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Popup.Master" AutoEventWireup="true" CodeBehind="StatutoryDeductionPage.aspx.cs" Inherits="WorkLinks.Payroll.StatDeduction.StatutoryDeductionPage" %>
<%@ Register src="StatutoryDeductionControl.ascx" tagname="StatutoryDeductionControl" tagprefix="uc1" %>
<asp:Content ID="Content" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:StatutoryDeductionControl ID="StatutoryDeductionControl1" runat="server" />
</asp:Content>
