﻿<%@ Page Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="SecurityCategoriesEditPage.aspx.cs" Inherits="WorkLinks.Admin.SecurityCategories.SecurityCategoriesEditPage" %>
<%@ Register Src="SecurityCategoriesEditControl.ascx" TagName="SecurityCategoriesEditControl" TagPrefix="uc1" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:SecurityCategoriesEditControl ID="SecurityCategoriesEditControl1" runat="server" />
</asp:Content>