﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/HumanResources/Employee.Master" CodeBehind="EmployeeMiniSearchPage.aspx.cs" Inherits="WorkLinks.HumanResources.Employee.EmployeeMiniSearchPage" %>
<%@ Register Src="EmployeeMiniSearchControl.ascx" TagName="EmployeeMiniSearchControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:EmployeeMiniSearchControl ID="EmployeeMiniSearchControl1" runat="server" />
</asp:Content>