﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CSBDownloadPage.aspx.cs" Inherits="WorkLinks.Admin.CSBExport.CSBDownloadPage" %>
<%@ Register src="CSBDownloadControl.ascx" tagname="CSBDownloadControl" tagprefix="uc1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:CSBDownloadControl ID="CSBDownloadControl1" runat="server" />
    </div>
    </form>
</body>
</html>