﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="CSBExportPage.aspx.cs" Inherits="WorkLinks.Admin.CSBExport.CSBExportPage" %>
<%@ Register Src="CSBExportControl.ascx" TagName="CSBExportControl" TagPrefix="uc1" %>

<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:CSBExportControl ID="CSBExportControl1" runat="server" />
</asp:Content>