﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="PayrollBatchSearchPage.aspx.cs" Inherits="WorkLinks.Payroll.PayrollBatch.PayrollBatchSearchPage" %>
<%@ Register src="PayrollBatchSearchControl.ascx" tagname="PayrollBatchSearchControl" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <ContentTemplate> 
        <uc1:PayrollBatchSearchControl ID="PayrollBatchSearchControl1" runat="server" />        
    </ContentTemplate>


</asp:Content>
