﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="PayrollBatchTransactionPage.aspx.cs" Inherits="WorkLinks.Payroll.PayrollBatch.PayrollBatchTransactionPage" %>

<%@ Register src="PayrollBatchTransactionControl.ascx" tagname="PayrollBatchTransactionControl" tagprefix="uc1" %>
<asp:Content ID="Content1" runat="server" contentplaceholderid="ContentPlaceHolder1">
    <uc1:PayrollBatchTransactionControl ID="PayrollBatchTransactionControl1" runat="server" />
</asp:Content>