﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="GlobalEmployeePaycodePage.aspx.cs" Inherits="WorkLinks.Admin.GlobalEmployeePaycode.GlobalEmployeePaycodePage" %>
<%@ Register Src="GlobalEmployeePaycodeControl.ascx" TagName="GlobalEmployeePaycodeControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:GlobalEmployeePaycodeControl ID="GlobalEmployeePaycodeControl1" runat="server" />
</asp:Content>