﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="EntitlementPage.aspx.cs" Inherits="WorkLinks.HumanResources.Entitlement.EntitlementPage" %>
<%@ Register Src="EntitlementControl.ascx" TagName="EntitlementControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:EntitlementControl ID="EntitlementControl1" runat="server" />
</asp:Content>