﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Account.master.cs" Inherits="WorkLinks.Account.Account" %>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<%@ Register Assembly="WLP.Web.UI" Namespace="WLP.Web.UI.Controls" TagPrefix="wasp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title></title>
        <link href="~/App_Themes/Default/Site.css" type="text/css" rel="stylesheet" />
        <asp:ContentPlaceHolder ID="HeadContent" runat="server"></asp:ContentPlaceHolder>
    </head>
    <body id="bodyhtmltag">
        <script type="text/javascript">
            function openWindowWithManager(managerName, url) {
                //build url
                var manager = $find(managerName);
                manager.open(getUrl(url), null);
            }
            function getUrl(url)
            {
                var baseDirectory = '<%= Page.Request.ApplicationPath %>';
                if (baseDirectory != '/')
                    url = baseDirectory + '/' + url;
                return url;
            }
        </script>
        <form id="form1" runat="server">
            <telerik:RadScriptManager ID="RadScriptManager1" runat="server"></telerik:RadScriptManager>
            <telerik:RadAjaxLoadingPanel ID="RadAjaxLoadingPanel1" runat="server"></telerik:RadAjaxLoadingPanel>
            <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server" DefaultLoadingPanelID="RadAjaxLoadingPanel1"></telerik:RadAjaxManager>

            <div>
                <div class="headerPasswordChange"></div>
                <div class="mainPasswordChange">
                    <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
                </div>
            </div>
        </form>
    </body>
</html>