﻿<%@ Page Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="FormSecurityPage.aspx.cs" Inherits="WorkLinks.Admin.FormSecurityEditor.FormSecurityPage" %>
<%@ Register Src="FormSecurityControl.ascx" TagName="FormSecurityControl" TagPrefix="fsc1" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <fsc1:FormSecurityControl ID="FormSecurityControl1" runat="server" />
</asp:Content>