﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="BenefitPlanPage.aspx.cs" Inherits="WorkLinks.Admin.Benefit.BenefitPlanPage" %>
<%@ Register Src="BenefitPlanControl.ascx" TagName="BenefitPlanControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:BenefitPlanControl ID="BenefitPlanControl1" runat="server" />
</asp:Content>
