﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ExportFtpPage.aspx.cs" Inherits="WorkLinks.Admin.ExportFtpAdmin.ExportFtpPage" ResourceName="ExportFtp" %>
<%@ Register Src="ExportFtpControl.ascx" TagName="ExportFtpControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server"></asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:ExportFtpControl ID="ExportFtpControl1" runat="server" />
</asp:Content>