﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="PayrollReportsMenuPage.aspx.cs" Inherits="WorkLinks.Payroll.PayrollReportsMenuPage" ResourceName="PayrollReportsMenu" %>
<%@ Register Src="PayrollReportsMenu.ascx" TagName="PayrollReportsMenu" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:PayrollReportsMenu ID="PayrollReportsMenu1" runat="server" />
</asp:Content>