﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="UnionContact.aspx.cs" Inherits="WorkLinks.Admin.Union.UnionContact" %>
<%@ Register src="UnionContactControl.ascx" tagname="UnionContactControl" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
        <uc1:UnionContactControl ID="UnionContactControl1" runat="server" />        
</asp:Content>
