﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="WcbChequeRemittanceFrequencyPage.aspx.cs" Inherits="WorkLinks.Admin.WcbChequeRemittanceFrequency.WcbChequeRemittanceFrequencyPage" %>
<%@ Register Src="WcbChequeRemittanceFrequencyControl.ascx" TagName="WcbChequeRemittanceFrequencyControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:WcbChequeRemittanceFrequencyControl ID="WcbChequeRemittanceFrequencyControl1" runat="server" />
</asp:Content>