﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="WcbChequeRemittanceFrequencyEditPage.aspx.cs" Inherits="WorkLinks.Admin.WcbChequeRemittanceFrequency.WcbChequeRemittanceFrequencyEditPage" %>
<%@ Register Src="WcbChequeRemittanceFrequencyEditControl.ascx" TagName="WcbChequeRemittanceFrequencyEditControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:WcbChequeRemittanceFrequencyEditControl ID="WcbChequeRemittanceFrequencyEditControl1" runat="server" />
</asp:Content>