﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="CompanyProperty.aspx.cs" Inherits="WorkLinks.HumanResources.Employee.CompanyProperty.CompanyProperty" ResourceName="CompanyProperty" %>
<%@ Register Src="EmployeeCompanyPropertyControl.ascx" TagName="EmployeeCompanyPropertyControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:EmployeeCompanyPropertyControl ID="EmployeeCompanyPropertyControl1" runat="server" />
</asp:Content>