﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="RemittancePage.aspx.cs" Inherits="WorkLinks.Payroll.Remittance.RemittancePage" %>
<%@ Register Src="RemittanceControl.ascx" TagName="RemittanceControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <ContentTemplate>
        <uc1:RemittanceControl ID="RemittanceControl1" runat="server" />        
    </ContentTemplate>
</asp:Content>