﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="DisciplinaryActionModulePage.aspx.cs" Inherits="WorkLinks.HumanResources.DisciplinaryAction.DisciplinaryActionModulePage" %>
<%@ Register Src="DisciplinaryActionModuleControl.ascx" TagName="DisciplinaryActionModuleControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:DisciplinaryActionModuleControl ID="DisciplinaryActionModuleControl1"
        runat="server" />
</asp:Content>