﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="PayrollProcessGroupOverridePeriodPage.aspx.cs" Inherits="WorkLinks.Admin.PayGroup.PayrollProcessGroupOverridePeriodPage" ResourceName="PayrollProcessGroupOverridePeriodPage" %>
<%@ Register Src="PayrollProcessGroupOverridePeriodControl.ascx" TagName="PayrollProcessGroupOverridePeriodControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:PayrollProcessGroupOverridePeriodControl ID="PayrollProcessGroupOverridePeriodControl1" runat="server" />
</asp:Content>