﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="PaycodePayrollTransactionOffsetAssociationPage.aspx.cs" Inherits="WorkLinks.Admin.PaycodeMaintenance.PaycodePayrollTransactionOffsetAssociationControl" ResourceName="PaycodePayrollTransactionOffsetAssociation" %>
<%@ Register Src="PaycodePayrollTransactionOffsetAssociationControl.ascx" TagName="PaycodePayrollTransactionOffsetAssociationControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:PaycodePayrollTransactionOffsetAssociationControl ID="PaycodePayrollTransactionOffsetAssociationControl1" runat="server" />
</asp:Content>