﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="PaycodeYearEndReportMapPage.aspx.cs" Inherits="WorkLinks.Admin.PaycodeMaintenance.PaycodeYearEndReportMapPage" ResourceName="PaycodeYearEndReportMapPage" %>
<%@ Register Src="PaycodeYearEndReportMapControl.ascx" TagName="PaycodeYearEndReportMapControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:PaycodeYearEndReportMapControl ID="PaycodeYearEndReportMapControl1" runat="server" />
</asp:Content>