﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="PaycodeImportPage.aspx.cs" Inherits="WorkLinks.Admin.PaycodeMaintenance.PaycodeImportPage" ResourceName="PaycodeImportPage" %>
<%@ Register Src="PaycodeImportControl.ascx" TagName="PaycodeImportControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:PaycodeImportControl ID="PaycodeImportControl1" runat="server" />
</asp:Content>