﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="PaycodeMaintenancePage.aspx.cs" Inherits="WorkLinks.Admin.PaycodeMaintenance.PaycodeMaintenancePage" ResourceName="PaycodeMaintenance" %>
<%@ Register Src="PaycodeMaintenanceControl.ascx" TagName="PaycodeMaintenanceControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:PaycodeMaintenanceControl ID="PaycodeMaintenanceControl1" runat="server" />
</asp:Content>