﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="GrievanceSearchPage.aspx.cs" Inherits="WorkLinks.HumanResources.Grievances.GrievanceSearchPage" %>
<%@ Register src="~/HumanResources/Grievances/GrievanceSearchControl.ascx" tagname="GrievanceSearchControl" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:GrievanceSearchControl ID="GrievanceSearchControl2" runat="server" />
</asp:Content>
