﻿<%@ Page Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" ResourceName="Title" CodeBehind="GrievancePage.aspx.cs" Inherits="WorkLinks.HumanResources.Grievances.GrievancePage" %>
<%@ Register src="GrievanceControl.ascx" tagname="GrievanceControl" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:GrievanceControl ID="GrievanceControl1" runat="server" />
</asp:Content>
