﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/HumanResources/Employee.Master"  CodeBehind="RulePayCodeAccumulationPage.aspx.cs" Inherits="WorkLinks.Admin.SalaryPlan.RulePaycodeAccumulationPage" %>
<%@ Register Src="RulePaycodeAccumulationPageControl.ascx" TagName="RulePaycodeAccumulationPageControl" TagPrefix="uc1" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:RulePaycodeAccumulationPageControl ID="RulePayCodeAccumulationPageControl1" runat="server" />
</asp:Content>