﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="SalaryPlanAddRulePage.aspx.cs" Inherits="WorkLinks.Admin.SalaryPlan.SalaryPlanAddRulePage" %>
<%@ Register Src="SalaryPlanAddRuleControl.ascx" TagName="SalaryPlanAddRuleControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:SalaryPlanAddRuleControl ID="SalaryPlanAddRuleControl1" runat="server" />
</asp:Content>