﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="SalaryPlanCodeMaintenancePage.aspx.cs" Inherits="WorkLinks.Admin.SalaryPlanCodeMaintenance.SalaryPlanCodeMaintenancePage" %>
<%@ Register Src="SalaryPlanCodeMaintenanceControl.ascx" TagName="SalaryPlanCodeMaintenanceControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server" />
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:SalaryPlanCodeMaintenanceControl ID="SalaryPlanCodeMaintenanceControl1" runat="server" />
</asp:Content>