﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="SalaryPlanAddPage.aspx.cs" Inherits="WorkLinks.Admin.SalaryPlan.SalaryPlanAddPage" %>
<%@ Register Src="SalaryPlanAddControl.ascx" TagName="SalaryPlanAddControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:SalaryPlanAddControl ID="SalaryPlanAddControl1" runat="server" />
</asp:Content>