﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="ContactTypePage.aspx.cs" Inherits="WorkLinks.HumanResources.Contacts.ContactTypePage" %>
<%@ Register src="ContactTypeControl.ascx" tagname="ContactTypeControl" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:ContactTypeControl ID="ContactTypeControl1" 
        runat="server" />
</asp:Content>
