﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="ContactModulePage.aspx.cs" Inherits="WorkLinks.HumanResources.Contacts.ContactModulePage" ResourceName="ContactModulePage" %>
<%@ Register src="ContactModuleControl.ascx" tagname="ContactModuleControl" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:ContactModuleControl ID="ContactModuleControl1" runat="server" />
</asp:Content>