﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="PaycodeEmployerPage.aspx.cs" Inherits="WorkLinks.Admin.PaycodeMaintenance.Employer.PaycodeEmployerPage" %>
<%@ Register Src="PaycodeEmployerControl.ascx" TagName="PaycodeEmployerControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:PaycodeEmployerControl ID="PaycodeEmployerControl1" runat="server" />
</asp:Content>