﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="CodeTableMaintenancePage.aspx.cs" Inherits="WorkLinks.Admin.CodeTableMaintenancePage" ResourceName="CodeTableMaintenancePage" %>
<%@ Register Src="CodeTableMaintenanceControl.ascx" TagName="CodeTableMaintenanceControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:CodeTableMaintenanceControl ID="CodeTableMaintenanceControl2" runat="server" />
</asp:Content>