﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="ExportChequePage.aspx.cs" Inherits="WorkLinks.Payroll.ExportCheque.ExportChequePage" %>
<%@ Register src="ExportChequeControl.ascx" tagname="ExportChequeControl" tagprefix="uc1" %>
<asp:Content ID="Content1" runat="server" contentplaceholderid="ContentPlaceHolder1">
    <uc1:ExportChequeControl ID="ExportChequeControl" runat="server" />        
</asp:Content>