﻿<%@ Page Title="" Language="C#"  MasterPageFile="~/Popup.Master" AutoEventWireup="true" CodeBehind="RemittanceDetailWcbDeductionsPage.aspx.cs" Inherits="WorkLinks.Payroll.Remittance.RemittanceDetail.RemittanceDetailWcbDeductionsPage" %>
<%@ Register Src="RemittanceDetailWcbDeductionsControl.ascx" TagName="RemittanceDetailWcbDeductionsControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
        <uc1:RemittanceDetailWcbDeductionsControl ID="RemittanceDetailWcbDeductionsControl1" runat="server" />        
</asp:Content>