﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Popup.Master" AutoEventWireup="true" CodeBehind="RemittanceDetailHealthDeductionsPage.aspx.cs" Inherits="WorkLinks.Payroll.Remittance.RemittanceDetail.RemittanceDetailHealthDeductionsPage" %>
<%@ Register Src="RemittanceDetailHealthDeductionsControl.ascx" TagName="RemittanceDetailHealthDeductionsControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
        <uc1:RemittanceDetailHealthDeductionsControl ID="RemittanceDetailHealthDeductionsControl1" runat="server" />        
</asp:Content>