﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Popup.Master" AutoEventWireup="true" CodeBehind="RemittanceDetailRqSourceDeductionsPage.aspx.cs" Inherits="WorkLinks.Payroll.Remittance.RemittanceDetail.RemittanceDetailRqSourceDeductionsPage" %>
<%@ Register Src="RemittanceDetailRqSourceDeductionsControl.ascx" TagName="RemittanceDetailRqSourceDeductionsControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
        <uc1:RemittanceDetailRqSourceDeductionsControl ID="RemittanceDetailRqSourceDeductionsControl1" runat="server" />        
</asp:Content>