﻿<%@ Page Title="" Language="C#"  MasterPageFile="~/Popup.Master" AutoEventWireup="true" CodeBehind="RemittanceDetailCraSourceDeductionsPage.aspx.cs" Inherits="WorkLinks.Payroll.Remittance.RemittanceDetail.RemittanceDetailCraSourceDeductionsPage" %>
<%@ Register Src="RemittanceDetailCraSourceDeductionsControl.ascx" TagName="RemittanceDetailCraSourceDeductionsControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

        <uc1:RemittanceDetailCraSourceDeductionsControl ID="RemittanceDetailCraSourceDeductionsControl1" runat="server" />        
</asp:Content>