﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Popup.Master" AutoEventWireup="true" CodeBehind="RemittanceDetailGarnishmentDeductionsPage.aspx.cs" Inherits="WorkLinks.Payroll.Remittance.RemittanceDetail.RemittanceDetailGarnishmentDeductionsPage" %>
<%@ Register Src="RemittanceDetailGarnishmentDeductionsControl.ascx" TagName="RemittanceDetailGarnishmentDeductions" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
        <uc1:RemittanceDetailGarnishmentDeductions ID="RemittanceDetailGarnishmentDeductions1" runat="server" />        
</asp:Content>