﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="VendorPage.aspx.cs" Inherits="WorkLinks.Admin.VendorAdmin.VendorPage" ResourceName="VendorPage" %>
<%@ Register Src="VendorControl.ascx" TagName="VendorControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:VendorControl ID="VendorControl1" runat="server" />
</asp:Content>