﻿<%@ Page Title="Attachment" Language="C#" MasterPageFile="Attachment.Master" AutoEventWireup="true" CodeBehind="AttachmentPage.aspx.cs" Inherits="WorkLinks.Attachments.AttachmentPage" %>
<%@ Register Src="AttachmentControl.ascx" TagName="AttachmentControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:AttachmentControl ID="AttachmentControl1" runat="server" />
</asp:Content>