﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="YearEndPage.aspx.cs" Inherits="WorkLinks.Admin.YearEnd.YearEndPage" %>
<%@ Register Src="YearEndControl.ascx" TagName="YearEndControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <ContentTemplate>
        <uc1:YearEndControl ID="YearEndControl1" runat="server" />        
    </ContentTemplate>
</asp:Content>