﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="EmployeePaycodePage.aspx.cs" Inherits="WorkLinks.Payroll.Paycode.EmployeePaycodePage" ResourceName="EmployeePaycode" %>
<%@ Register Src="EmployeePaycodeModule.ascx" TagName="EmployeePaycodeModule" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:EmployeePaycodeModule ID="EmployeePaycodeModule1" runat="server" />
</asp:Content>