﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="EmployeeEmploymentInformationPage.aspx.cs" Inherits="WorkLinks.HumanResources.Employee.EmploymentInformation.EmployeeEmploymentInformationPage" ResourceName="EmployeeEmploymentInformationPage" %>
<%@ Register Src="EmployeeEmploymentInformationControl.ascx" TagName="EmployeeEmploymentInformationControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:EmployeeEmploymentInformationControl ID="EmployeeEmploymentInformationControl1" runat="server" />
</asp:Content>