﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/HumanResources/Employee.Master" CodeBehind="UserAdminPersonPage.aspx.cs" Inherits="WorkLinks.Admin.UserAdmin.UserAdminPersonPage" ResourceName="Title" %>

<%@ Register src="UserAdminPersonControl.ascx" tagname="UserAdminPersonControl" tagprefix="uc1" %>
<asp:Content ID="Content1" runat="server" contentplaceholderid="ContentPlaceHolder1">
    <uc1:UserAdminPersonControl ID="UserAdminPersonControl1" runat="server" />
</asp:Content>