﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="WsibEditPage.aspx.cs" Inherits="WorkLinks.Admin.WsibAdmin.WsibEditPage" ResourceName="WsibEdit" %>
<%@ Register Src="WsibEditControl.ascx" TagName="WsibEditControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:WsibEditControl ID="WsibEditControl1" runat="server" />
</asp:Content>