﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="WsibPage.aspx.cs" Inherits="WorkLinks.Admin.WsibAdmin.WsibPage" ResourceName="Wsib" %>
<%@ Register Src="WsibControl.ascx" TagName="WsibControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server"></asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:WsibControl ID="WsibControl1" runat="server" />
</asp:Content>