﻿<%@ Page Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="GroupEditorPage.aspx.cs" Inherits="WorkLinks.Admin.GroupEditor.GroupEditorPage" %>
<%@ Register Src="GroupEditorControl.ascx" TagName="GroupEditorControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:GroupEditorControl ID="GroupEditorControl1" runat="server" />
</asp:Content>