﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HumanResources/Employee.Master" AutoEventWireup="true" CodeBehind="PaycodeBenefitPage.aspx.cs" Inherits="WorkLinks.Admin.PaycodeMaintenance.Benefit.PaycodeBenefitPage" ResourceName="PaycodeBenefit" %>
<%@ Register Src="PaycodeBenefitControl.ascx" TagName="PaycodeBenefitControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <uc1:PaycodeBenefitControl ID="PaycodeBenefitControl1" runat="server" />
</asp:Content>