﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="PersonAddressTypeCodeTableMaintenancePage.aspx.cs" Inherits="WorkLinks.Admin.PersonAddressTypeAdmin.PersonAddressTypeCodeTableMaintenancePage" ResourceName="PersonAddressTypeCodeTableMaintenancePage" %>
<%@ Register Src="PersonAddressTypeCodeTableMaintenanceControl.ascx" TagName="PersonAddressTypeCodeTableMaintenanceControl" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:PersonAddressTypeCodeTableMaintenanceControl ID="PersonAddressTypeCodeTableMaintenanceControl2" runat="server" />
</asp:Content>